@model ShowMessagesVM
<div class="row">
    <div class="mb-2 mb-4">
        @if (Model.IsAdminSupervision)
        {
            <div class="col-12 text-warning fs-4">Jelenleg adminként nézi más üzeneteit</div>
        }
        <div class="col-12 text-center fs-4">
            <span class="text-info-emphasis">@Model.UserName</span>
            <span class="fs-3"> aktív üzenetei</span>
        </div>
    </div>

    <table class="table table-bordered table-striped col-12">
        <thead>
            <tr>
                <th class="col-2">Azonosító</th>
                <th class="col-4">Üzenet eleje</th>
                <th class="col-3">Lejárati idő</th>
                <th class="col-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.MessageList)
            {
                <tr>
                    <td>@message.MessageId</td>
                    @{
                        string shortMessageText = message.Msg.Length > 60 ?
                        message.Msg.Substring(0, 58) + ".." : message.Msg;
                    }
                    <td>@shortMessageText</td>
                    
                    @{
                        string discardDateMsg = message.DiscardDate.ToString();
                        discardDateMsg += message.DiscardFirstRead ? "(csak egyszer)" : "";
                    }
                    <td>@discardDateMsg.ToString()</td>
                    
                    <td class="col-3 text-center">
                        <a asp-controller="Home" asp-action="ModifyMessage" asp-route-messageId="@message.MessageId"
                           class="btn btn-sm btn-primary">Szerkesztés</a>
                        <a asp-controller="Home" asp-action="DeleteMessage" asp-route-messageId="@message.MessageId"
                           class="btn btn-sm btn-danger">Törlés</a>
                    </td>
                </tr>
            }
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center text-info">@Model.MessageList.Count() db üzenet</td>
        </tbody>
    </table>
</div>



