@model List<UserRoleVM>

<div class="row">
    <div class="mb-2">
        <h3 class="col-12 text-center">Felhasználók listája</h3>
    </div>

    <table class="table table-bordered table-striped col-12">
        <thead>
            <tr>
                <th class="col-3">Név</th>
                <th class="col-3">Email</th>
                <th class="col-3">Típus</th>
                <th class="col-1">Üzenetei</th>
                <th class="col-1">Admin jog</th>
                <th class="col-1">Törlés</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var userRole in Model)
            {
                <tr>
                    <td>@userRole.Name</td>
                    <td>@userRole.Email</td>
                    <td>@userRole.Role</td>
                    <td>
                        <a asp-controller="Home" asp-action="ShowUserMessages" asp-route-email="@userRole.Email"
                        class="btn btn-sm btn-primary">Üzenetei (@userRole.NumberOfActiveMessages)</a>
                    </td>
                    <td>
                        @if (userRole.Role == Role.Admin)
                        {
                            <a asp-controller="Home" asp-action="ChangeAdminRoleStatus" asp-route-userEmail="@userRole.Email"
                            class="btn btn-sm btn-warning">Admin jog elvétele</a>
                        } else
                        {
                            <a asp-controller="Home" asp-action="ChangeAdminRoleStatus" asp-route-userEmail="@userRole.Email"
                               class="btn btn-sm btn-outline-warning">Admin jog megadása</a>
                        }
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="DeleteUser" asp-route-email="@userRole.Email"
                        class="btn btn-sm btn-danger">Felhasználó törlése</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

